<body>
    <div class="topimage">
        <%= image_tag("top2.jpeg", class:  "topimg") %>
    </div>
    <div class="about">
        <h1>about</h1>
        <div class="about1">
            <div class="about-text">
                アイウエオアイウエオアイウエオアイウエオアイウエオアイウエオアイウエオアイウエオ</br>
                アイウエオアイウエオアイウエオアイウエオアイウエオアイウエオアイウエオアイウエオ</br>
                アイウエオアイウエオ
            </div>
            <div class="about-image">
                <%= image_tag("cat.jpeg", class: "about-img") %>
            </div>
        </div>
        
         <div class="about1">
            <div class="about-image">
                <%= image_tag("cat.jpeg", class: "about-img") %>
            </div>
            <div class="about-text">
                アイウエオアイウエオアイウエオアイウエオアイウエオアイウエオアイウエオアイウエオ</br>
                アイウエオアイウエオアイウエオアイウエオアイウエオアイウエオアイウエオアイウエオ</br>
                アイウエオアイウエオ
            </div>
            
        </div>
        
    </div>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">

    <div id="page_top"><a href="#"></a>
    </div>
<body>