// Place all the styles related to the cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//質問

.question{
    text-align: center;
}

.sinndannmei {
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 30px;
    color: #241c1c;
    margin: 50px;
    text-align: center;
}
.q1{
    font-family: 'Bruno Ace', sans-serif;
    font-size: 22px;
    color: #FF8AC2;
    margin-top: 3%;
    margin: 50px;
    user-select: none;
}
.question1{
    font-family: 'Bruno Ace', sans-serif;
    font-size: 20px;
 
    user-select: none;
}

.keka{
    font-family: 'Bruno Ace', sans-serif;
    font-size: 20px;
    margin: 30%;
}
